body{
    margin: 0;
    padding: 0;
}
.content{
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin-top: 20px;
    width: 100vw;
    padding: 0 5vw 0 5vw;
}
.form-data{
    padding: 10px;
    border: 2px solid rgb(190, 190, 190);
    margin-bottom: 10px;
}
.form-data:focus{
    outline: none;
}
#email_label{
    margin-left: -312px;
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
}
#otp_label{
    margin-left: -344px;
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
}
.login{
    padding: 10px 192px 10px 192px;
    border: none;
    background-color: #0275d8;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.generateotp{
    padding: 10px 161px 10px 161px;
    border: none;
    background-color: #009c41;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.login:hover{
    background-color: #035385;
}
.generateotp:hover{
    background-color: #007631;
}
.recover_acc_inp{
    position: relative;
}